Get Environment Info & Import Primary Libraries

In [1]:
import os
from dotenv import load_dotenv;
load_dotenv('../data.env')
mal_data_folder = os.getenv('MAL_DATA_FOLDER','')
print(mal_data_folder)
data_ranking_info = os.getenv('MAL_RANKING_LIST','')
print(data_ranking_info)

/home/sooth/Documents/Beta/80-89 Second Degree/81 Courses/01 CAP5771 - DM TM/04  DM Project/01_Dataset
/home/sooth/Documents/Beta/80-89 Second Degree/81 Courses/01 CAP5771 - DM TM/04  DM Project/01_Dataset/06 UserAnimeList.csv

In [2]:
import seaborn as sns;
import matplotlib.pyplot as plt;

import pandas as pd;
from pandas.plotting import scatter_matrix
import numpy as np;

from sklearn import set_config
set_config(transform_output='pandas');

Explore the User List

In [3]:
def load_rankings()->pd.DataFrame:
	if (data_ranking_info.isspace()):
		raise Exception('user_list is whitespace, cannot load_users')
	frame:pd.DataFrame = pd.read_csv(data_ranking_info, nrows=2000)
	frame.drop(axis=1, columns=[
		'my_rewatching', 'my_rewatching_ep', 'my_tags',
		'my_start_date', 'my_finish_date',
		], inplace=True
	)
	# # Location & Username are unimportant. access_rank? all null.
	# frame.drop(columns=['location','username','access_rank'],axis=1, inplace=True)
	# # We care about gender! User_id should not be null.
	# frame.dropna(axis=0,subset=['gender','user_id'], inplace=True);
	# # If a user has not completed anything, do not consider.
	# frame.drop(index=frame[frame['user_completed']==0].index, inplace=True)
	# # If user has not rated anything, do not consider.
	# frame.drop(index=frame[frame['stats_mean_score']==0].index, inplace=True)
	return frame

In [4]:
df:pd.DataFrame = load_rankings()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   username             2000 non-null   object
 1   anime_id             2000 non-null   int64
 2   my_watched_episodes  2000 non-null   int64
 3   my_score             2000 non-null   int64
 4   my_status            2000 non-null   int64
 5   my_last_updated      2000 non-null   int64
dtypes: int64(5), object(1)
memory usage: 93.9+ KB

In [6]:
df.head()

,username,anime_id,my_watched_episodes,my_score,my_status,my_last_updated
0,karthiga,21,586,9,1,1362307973
1,karthiga,59,26,7,2,1362923691
2,karthiga,74,26,7,2,1367081015
3,karthiga,120,26,7,2,1362308037
4,karthiga,178,26,7,2,1364399953

In [7]:
df.describe()

,anime_id,my_watched_episodes,my_score,my_status,my_last_updated
count,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03
mean,8646.761500,14.438500,4.784500,2.869500,1.304349e+09
std,9512.276849,37.024406,3.863486,1.724516,2.839571e+08
min,1.000000,0.000000,0.000000,1.000000,0.000000e+00
25%,859.250000,1.000000,0.000000,2.000000,1.274241e+09
50%,4978.000000,6.000000,6.000000,2.000000,1.362923e+09
75%,13669.500000,13.000000,8.000000,3.000000,1.413744e+09
max,37349.000000,586.000000,10.000000,6.000000,1.525978e+09